#header {
  margin-bottom: 2em;
}

.page-brand {
  font-weight: bold;
  font-size: 2.3rem;
}

#article-tag .badge {
  margin-right: 5px;
}

.text-white {
  color: white;
}

.bg-orange {
  background-color: orange !important;
}

#content {
  margin-bottom: 2em;
}

#content .list li{
  margin-bottom: 1em;
}

#footer {
  padding-top: 3em;
  padding-bottom: 2em;
  background-color: #dee2e6;
}

#side-nav {
  border-left: 1px solid #e9ecef;
}